<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Messier16.Forms.Checkbox" version="0.2.1-alpha" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microcharts" version="0.8.3-pre" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microcharts.Forms" version="0.8.3-pre" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wp8" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="SignaturePad.Xamarin.Forms.PCL" version="1.0.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Connectivity" version="3.1.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading" version="2.3.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.3.6" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.5.1.527436" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.Core" version="2.3.0-pre05" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.IoC" version="2.3.0-pre05" targetFramework="portable45-net45+win8+wp8" />
  <package id="XLabs.Serialization" version="2.3.0-pre05" targetFramework="portable45-net45+win8+wp8" />
</packages>